/* @tailwind base;

@tailwind components;

@tailwind utilities; */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.theme-light{
    --bg-primary-color: white;
    --bg-secondary-color:#023e7d;
    --text:#023e7d;
}
.theme-dark{
    --bg-primary-color: #151b26;
    --bg-secondary-color:#1c75bc;
    --text:white;

    /* background-color:#0D2438 ; */
}